<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-4 about-company">
          <h4 class="mt-lg-0 mt-sm-3">About us</h4>
            <p class="pr-5 text-white-50">
              CatchScan is a SaaS company located in Aalborg, Denmark. The goal is to provide legal service to online content creators in a managable way.
            </p>
        </div>
        <div class="col-xs-12 col-lg-4">
          <h2>SoMe</h2>
          <p class="pr-5 text-white-50">Catch us on social media</p>
          <p>
            <a class="btn-floating btn-tw btn-lg btn-some footer-text" type="button" role="button" href="https://www.facebook.com/CatchScan/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="btn-floating btn-tw btn-lg btn-some footer-text" type="button" role="button" href="https://www.instagram.com/catchscan/?hl=da" target="_blank"><i class="fa fa-instagram"></i></a>
            <a class="btn-floating btn-tw btn-lg btn-some footer-text" type="button" role="button" href="https://www.linkedin.com/company/catchscan/about/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </p>
        </div>
        <div class="col-xs-12 col-lg-4 location">
          <h4 class="mt-lg-0 mt-sm-4">Location</h4>
          <p class="pr-5 text-white-50">Reberbansgade 39, 9000 Aalborg, DK</p>
          <p class="mb-0 pr-5 text-white-50"><i class="fa fa-phone mr-3"></i>+45 24 43 40 64</p>
          <p class="pr-5 text-white-50"><i class="fa fa-envelope-o mr-3"></i>info@catchscan.net</p>
        </div>
      </div>
    </div>
    </div>