
h1, h2, h4, p {
    color:#f26d21;
}

h1 {
    font-weight: bold;
}

h2, h4 {
    font-family: Helvetica;
}


.landing-img {
    max-width:100%;
    max-height: 100%;
    
}

.landing-content {
    padding-top: 2rem;
    
}

@media screen and (max-width: 1200px) {
    .land-legal-text {

    }
    .landing-wrapper {
        background-size: auto 110%;
    }
}


@media screen and (min-width: 1201px) {
    .land-legal-text {
        width: 50%;
    }
    .landing-wrapper {
        background-size: 100% auto;
    }
}


.landing-wrapper {
    text-align: center;
    height: 800px;
    /*background: #f26d21;
    /* https://www.pexels.com/photo/money-on-top-of-a-stack-of-books-5632406/ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(242,109,33, 0.1)), url('/../assets/images/landing-page/legal.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url('/../assets/images/random_stock/nature1.jpg');
    
    background-color: wheat;*/
}

.landing-text {
    color: rgb(230, 178, 81);
}