<div class="landing-wrapper">
    <h1 class="landing-content">We know your rights</h1>
    <h4>And will help you exercise them</h4>

    <div class="mx-auto land-legal-text">
        <p>Should worse come to worst, and your content is misused by someone not willing to take it down at first, 
            we will help you get the compensation you deserve. We know your rights, and we know how to enforce them. 
            Click read more if you would like to know what your rights are, and what you can do about them.</p>
    </div>

    <a class="btn btn-primary" routerLink="/legal">Read more</a>

</div>

