<div class="landing-wrapper">
    

    <div class="landing-content">
        <h1 class="landing-content">Identifying threats</h1>
        <h4>By scanning the entire internet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales condimentum magna vel pretium. Cras ultrices quam et mauris euismod feugiat. Sed cursus at libero vel porta. Duis sit amet accumsan sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sit amet eros nec justo condimentum varius. Aliquam tincidunt aliquam risus.</p>
        <a class="btn btn-primary" routerLink="/technical">Read more</a>
    </div>

    

</div>

