<div class="landing-wrapper">
    

    <div class="landing-content">
        <h1 class="landing-content">Catching Threats</h1>
        <h4>Before they become an issue</h4>
        <p>By continuously scanning the internet for images, we’ll be able to catch copies of your images soon 
            after they have been posted. We will of course notify you of this, and do what we can to resolve the 
            issue.</p>
        <a class="btn btn-primary" routerLink="/technical">Read more</a>
    </div>

    
</div>

