<div class="landing-wrapper">
    <h1 class="landing-content">Be calm</h1>
    <h4>We’ll look out for your content and your image</h4>

    <div class="mx-auto landing-content" >
        <p>We know you care about your image and how it is represented, and frankly, so do we! <br>
            We are creating CatchScan to help you easily keep your content safe from misrepresentation or theft, 
            all you will have to do is sign up, and we’ll keep an eye on where your content goes and who uses it, 
            so you won’t have to worry about it at all.
            </p>
    </div>

    <a class="btn btn-primary" href="#sign-up">Get started</a>
    <button class="btn btn-primary-outline shadow-none">About</button>

</div>

