
h1, h2, h4, p {
    color:#f26d21;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 2rem;
}

h2, h4 {
    font-family: Helvetica;
}

p {
    /* outline */
    /*text-shadow: 0.01rem 0 0 #000, 0 -0.01rem 0 #000, 0 0.01rem 0 #000, -0.01rem 0 0 #000 !important; */
}




@media screen and (max-width: 800px) {
    div.landing-content {
        width: 90%;
        padding-left: 5vw;
    }
    .landing-wrapper {
        background-size: auto 100%;
        padding-bottom: 100px;
        height: 500px;

    }
}
 @media screen and (min-width: 801px) and (max-width: 1500px) {
    div.landing-content {
        width: 60%; 
        margin-left: 50%;
    }
    .landing-wrapper {
        background-size: 100% auto;
        height: 600px;

    }
}

@media screen and (min-width: 1501px) {
    div.landing-content {
        width: 60%; 
        margin-left: 50%;
    }
    .landing-wrapper {
        background-size: 100% auto;
        height: 800px;

    }
}




.landing-wrapper {
    text-align: center;
    /*background: #f26d21;
    /* https://www.pexels.com/photo/person-on-a-bridge-near-a-lake-747964/ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(242,109,33, 0.1)), url('/../assets/images/random_stock/nature1.jpg');
    
    
    background-repeat: no-repeat;
    background-position: center;
    
    /*background-image: url('/../assets/images/random_stock/nature1.jpg');

    background-color: wheat;*/
    
}

.landing-text {
    color: rgb(230, 178, 81);
}