

<div class="form-panel mx-auto">


  <h1 class="white">Help us <br> help you</h1>
  <p>To do this right, we need your help. All we ask is that you sign up below, so we can contact you during our 
    development with information, and potential questions. Our team would appreciate it greatly.</p>


  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)" class="registrationForm">

      <div class="form-group">
        <label for="name" class="white">
          Name
        </label>
        <input id="name" type="text" formControlName="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email" class="white">
          Email
        </label>
        <input id="email" type="text" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="insta" class="white"  >
          Instagram link 
        </label>
        <p class="optional-text">  *optional</p>
        <input id="insta" type="text" formControlName="insta" class="form-control">
      </div>
    <div class="center-btn">
      <button class="btn btn-primary orange-bg shadow-none" type="submit">Submit</button>
    </div>
    
  </form>

</div>


