

<div class="navbar navbar-expand-lg navbar-dark container">

        <a class="navbar-brand ml-auto" routerLink="/">
            <img src="../assets/images/logo/catch-scan-version-1-coloured.png" alt="" width="249" height="60" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>   
        
        <div class="navbar-collapse collapse justify-content-end collapse-content" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-home"></i></a></li>
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" routerLink="/technical" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-cog"></i></a></li>
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" routerLink="/legal" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-balance-scale"></i></a></li>
                <li class="d-none d-md-block"><a class="btn-floating btn-tw btn-lg btn-some nav-text vline" type="button" role="button" routerLink="/dashboard" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-user"></i></a></li>
                <li class="d-md-none d-block"><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" routerLink="/dashboard" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-user"></i></a></li>
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" href="https://www.facebook.com/CatchScan/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" href="https://www.instagram.com/catchscan/?hl=da" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a class="btn-floating btn-tw btn-lg btn-some nav-text" type="button" role="button" href="https://www.linkedin.com/company/catchscan/about/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

            </ul>
            
        </div>
</div>   
